@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root{
    --grey: #919191;
    --red: #4c66ca;
    --lightGrey: #f2f3f4;
    --darkGrey: #242424;
    --white: #ecf0f2;
    --black: #111516;
    --headingFont: 'Lora', serif;
    --textFont: 'Sora', sans-serif;
    --transition: all 0.5s ease;
    --pink: #F83292;
}
    *{
      font-family: 'Poppins', sans-serif;
      margin:0; padding:0;
      box-sizing: border-box;
      text-decoration: none;
      outline: none; border:none;
      text-transform: capitalize;
    }

    *::selection{
      background:var(--pink);
      color: #9f3ae6bf;
    }

    body{
      overflow-x: hidden;
      background: #ECEFFC;
    }



/*************************************************************/
/****************** Utility classes and stylings ************/
h1, h2, h3, h4, h5, h6, p{
    margin: 0.6rem 0;
}
img{
    display: block;
    width: 100%;
}
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.active{
    border-bottom: 1px solid var(--red);
}
.sub-text{
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--red);
    font-weight: 600;
}
.title{
    text-transform: capitalize;
    font-family: var(--headingFont);
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0.85;
}
.title:hover{
  color: #4c66ca;
}
.info{
    font-size: 0.85rem;
}
.info span{
    color: #4c66ca;
    font-weight: 400;
}
.card{
    margin: 1.5rem 0;
    padding: 0 0 0.5rem 0;
}
.card-body{
    padding: 1.5rem 0;
}

.card-footer{
    border-top: 1.5px solid var(--white);
    padding-top: 0.8rem;
}
.card-footer ul{
    display: flex;
}
.card-footer ul li{
    margin-right: 0.9px;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: var(--grey);
}
.card-footer ul li:nth-child(1):hover{
    color: #4267B2;
}
.card-footer ul li:nth-child(2):hover{
      color: #E1306C;
}
.card-footer ul li:nth-child(3):hover{
      color: #111516;
}




.hr-line{
  margin-top: 3em;
    height: 4px;
    opacity: 0.5;
    width: 87vw;
    margin: 0 auto;
    background: #4c66ca;
}
.btn{
    background: var(--red);
    border: none;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1.1rem 1.5rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: var(--transition);
}
.btn i{
    padding-left: 0.7rem;
}
.btn:hover{
    background: var(--darkGrey);
}
.hr-line-sm{
    display: flex;
    align-items: center;
}
.hr-line-sm div:first-child{
    height: 4px;
    background: var(--red);
    width: 20px;
    margin-right: 5px;
}
.hr-line-sm div:last-child{
    height: 1px;
    background: var(--red);
    width: 50px;
}
.lead{
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--grey);
    line-height: 1.8;
}

/*************************************************************/
/*************************************************************/
/*Loader padding*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ECEFFC;
  display:flex;
  justify-content: center;
  align-items: center;
}


@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}
.loader div {
  height: 100%;
}

/* loader 1 */
.loader1, .loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 255, 0.5);
}

div:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}
/************************** navbar ***************************/
  /* ---------------- Global Classes ---------------*/

  /* ---------------- Global Classes ---------------*/


  .logo {
    width: 170px;
      cursor: pointer;
/*      margin-top: 4px;*/
      margin-left: 7px;
  }
  /* header */
  .header {
    position: relative;
    max-width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    padding: 1rem 2rem;*/
    z-index: 1;
  }

.fix-nav {

   /*    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    background: #fcfcfe;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
/*  position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.header.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fcfcfe;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}





  .header a {
    text-decoration: none;
    color: #1c0fe6;
    /*color: #280d94;*/
    padding: 15px;
    text-shadow: 1px 1px 1px #776a94;
  }
  .header ul {
    list-style: none;
  }
  .logo {
    font-size: 2rem;
  }
  .menu-items {
    display: flex;
    align-items: center;
  }
  .menu-items li {
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out;
  }
  .menu-items li:hover {
    background-color: #a5b2efe0;
  }


  /* mega menu  */
  .mega-menu {
    position: absolute;
    left: 20em;
    width: 80vw;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .mega-menu .content {
    background: #a5b2efe0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
  }
  .blog .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .content .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
  }
  .content .col .img-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
  }
  .content .col .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  img {
    width: 100%;
    transition: all 1s ease;
  }
/*  img:hover{
    transform: scale(1.1);
  }
*/

  .content .col h2 {
    color: #ff652f;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .content .col p {
    line-height: 1.2rem;
  }
  .content .col .mega-links {
    border-left: 1px solid #1a3246;
  }
  .content .col .read-more {
    display: inline-block;
    padding-top: 1rem;
    color: #427dad;
    transition: color 0.3s ease;
  }
  .col .mega-links li,
  .col .mega-links li a {
    padding: 0 1rem;
  }
  .menu-items li:hover .mega-menu {
    top: 50px;
    opacity: 1;
    visibility: visible;
  }


  .content .col .read-more:hover {
    color: #ff652f;
  }

  /* nav menu button */
  .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 2;
  }
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    content: "";
    position: absolute;
  }
  .menu-btn__lines,
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background: #ffffff;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__lines::before {
    transform: translateY(-0.5rem);
  }
  .menu-btn__lines::after {
    transform: translateY(0.5rem);
  }
  /* animation */
  .menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background: transparent;
  }
  .menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background: #ffffff;
  }
  .menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background: #ffffff;
  }

  /* MEDIA QUERY */
  @media screen and (max-width: 970px) {
    .menu-btn {
      display: flex;
    }

    .header .menu-items {
      position: absolute;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 100%;
      right: 0;
      display: block;
      padding: 1rem;
      line-height: 3rem;
      overflow-y: auto;
      transform: translateY(-100vh);
      transition: transform 0.3s ease-out;
    }
    .menu-items.open {
      transform: translateY(0);
    }

    .menu-items li {
      margin: 15px 10px;
    }
    .menu-items li a {
      padding: 0 1rem;
      display: block;
      font-size: 1.4rem;
    }
    .menu-items li:hover {
      background-color: transparent;
    }

    /* DROPDOWN, MEGA MENUS */
    .menu-items .dropdown-menu,
    .menu-items .menu-right,
    .menu-items .mega-menu {
      position: static;
      opacity: 1;
      top: 4rem;
      visibility: visible;
      padding-left: 1rem;
      width: 100%;
      max-height: 0;
      transform: scaleY(0);
      transform-origin: top;
      overflow: hidden;
      transition: all 0.2s ease;
    }
    .expand-btn.open + .expandable {
      max-height: 100%;
      transform: scaleY(1);
    }

    .expandable li {
      margin: 0;
    }
    .expandable li a {
      font-size: 1rem;
    }

    .mega-menu .content {
      grid-template-columns: auto;
      padding: 1rem 1rem 0 1rem;
    }
    .mega-menu .content .col {
      width: 100%;
      padding-top: 1rem;
      margin-bottom: 0.5rem;
      border-top: 1px solid #1a3246;
    }
    .mega-menu .content .col:nth-child(1) {
      border-top: 0px;
    }
    .content .col .mega-links {
      border-left: 0px;
      padding-left: 1rem;
    }
    .col .mega-links li {
      margin: 0;
    }
  }


  /* MEDIA QUERY */
  @media screen and (max-width: 970px) {
    .menu-btn {
      display: flex;
    }

    .nav-bar .menu-items {
      position: absolute;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 100%;
      right: 0;
      background: #f9f9f9;;
      display: block;
      padding: 1rem;
      line-height: 3rem;
      overflow-y: auto;
      transform: translateY(-100vh);
      transition: transform 0.3s ease-out;
    }
    .menu-items.open {
      transform: translateY(0);
    }

    .menu-items li {
      margin: 15px 10px;
    }
    .menu-items li a {
      padding: 0 1rem;
      display: block;
      font-size: 1.4rem;
    }
    .menu-items li:hover {
      background-color: transparent;
    }

    /* DROPDOWN, MEGA MENUS */
    .menu-items .dropdown-menu,
    .menu-items .menu-right,
    .menu-items .mega-menu {
      position: static;
      opacity: 1;
      top: 4rem;
      visibility: visible;
      padding-left: 1rem;
      width: 100%;
      max-height: 0;
      transform: scaleY(0);
      transform-origin: top;
      overflow: hidden;
      transition: all 0.2s ease;
    }
    .expand-btn.open + .expandable {
      max-height: 100%;
      transform: scaleY(1);
    }

    .expandable li {
      margin: 0;
    }
    .expandable li a {
      font-size: 1rem;
    }

    .mega-menu .content {
      grid-template-columns: auto;
      padding: 1rem 1rem 0 1rem;
    }
    .mega-menu .content .col {
      width: 100%;
      padding-top: 1rem;
      margin-bottom: 0.5rem;
      border-top: 1px solid #1a3246;
    }
    .mega-menu .content .col:nth-child(1) {
      border-top: 0px;
    }
    .content .col .mega-links {
      border-left: 0px; 
      padding-left: 1rem;
    }
    .col .mega-links li {
      margin: 0;
    }
  }




      /*Icon liên hệ*/         

      .contact{
        display: inline-block;
        height: 50px;
        width: 50px;
        float: left;
        margin: 0 5px;
        overflow: hidden;
        background: transparent;

        /*  color: var(--white);*/
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease-out;
      }
      .contact .icon{
        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 50px;
        transition: all 0.3s ease-out;
      }

      .contact:nth-child(1):hover .icon{
        background: #4267B2;
      }
      .contact:nth-child(2):hover .icon{
        background: #333;
      }
      .contact:nth-child(3):hover .icon{
        background: #E1306C;
      }
      .contact:nth-child(4):hover .icon{
        background: #1DA1F2;
      }
      .contact:nth-child(5):hover .icon{
        background: #ff0000;
      }
      .contact .icon i{
        font-size: 25px;
        line-height: 50px;
        transition: all 0.3s ease-out;
      }
      .contact:hover .icon i{
        color: #fff;
      }

      /*Icon liên hệ*/

      .share-button{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: .3s linear;
      }

      .share-button:hover{
        transform: scale(1.1);
      }

      .share-button span{
        font-size: 1.2em;

        text-decoration: none;
        padding: 15px;
        text-shadow: 1px 1px 1px #776a94;

        color: #1c0fe6;
        text-align: center;
        transition: .6s linear;

      }

      .share-button:hover span{
        transform: translateX(-100%);
        transition-delay: .3s;
      }

      .share-button a{
        flex: 1;
        font-size: 26px;
        color: #2d3436;
        text-align: center;
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.3s linear;
      }

      .share-button:hover a{
        opacity: 1;
        transform: translateX(0);
      }

      .share-button a:nth-of-type(1){
        background: #4267B2;
        transition-delay: 1s;
      }

      .share-button a:nth-of-type(2){
         background: #1DA1F2;
        transition-delay: 0.8s;
      }

      .share-button a:nth-of-type(3){
        
         background: #E1306C;
        transition-delay: 0.6s;
      }

      .share-button a:nth-of-type(4){
        transition-delay: 0.4s;
      }

      /* -------x------- navbar ---------x------- */

/***************************** header *************************/
.left-head-container{
    background: url("../images/head-img-1.jpg") center/cover no-repeat;
}
.right-head-container{
    background: url("../images/head-img-2.jpg") center/cover no-repeat;
}
.left-head-container, .right-head-container{
    height: 440px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.left-head-content, .right-head-content{
    background: #fff;
    padding: 2rem 1.7rem;
}
.header-wrapper .title{
    font-size: 1.4rem;
}

/************************* archive ***************************/
.archive-wrapper{
    margin: 3.5rem 0;
    padding: 1rem;
}

/*************************** category ************************/
.category-wrapper{
    margin: 3.5rem 0;
    padding: 1rem;
}
.category-wrapper .card{
    border: 1.5px solid var(--white);
}
.category-wrapper .card-body, .category-wrapper .card-footer{
    width: 90%;
    margin: 0 auto;
}
.card-image{
    position: relative;
}
/*.card-image:hover img {
  transform: matrix3d();(1.1);
}*/
.sub-text-box{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.1rem;
    background: #fff;
    border-top-right-radius: 12px;
    cursor: pointer;
}
.category-right{
    margin-top: 3rem;
}
.category-right .card{
    margin: 1rem 0!important;
}
.form-group{
    display: flex;
    margin: 1.7rem 0;
}
.form-group input[type = "text"]{
    width: 100%;
    font-size: 0.9rem;
    padding: 0 1rem;
    outline: 0;
    border: 1px solid var(--grey);
    border-right: none;
}
.form-search-icon{
    display: inline-block;
    padding: 0.7rem 1rem;
    background: var(--red);
    color: #fff;
}
.feed-image{
    height: 350px;
    overflow: hidden;
}
.tags-list{
    margin: 1rem 0;
}
.tags-list li{
    background: var(--lightGrey);
    display: inline-block;
    padding: 0.7rem 2rem;
    margin: 0.2rem 0.1rem;
    border: 1px solid #fff;
}
.tags-list a{
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: var(--headingFont);
    font-weight: bold;
}
.tags-list li:hover{
    border: 1px solid var(--red);
}
.tags-list li:hover{
    color: var(--red);
}



 /* --------------- Site title ---------------- */
      main .site-background{
        background: url('../images/Blogs.png');
        background-size: cover;
        height: 110vh;
        display: block;
        justify-content: center;
        /*    width: 1051px;*/

          left: 2em;
        z-index: -1;
        margin-top: -210px;
      }

      .site-background .site-title{
        position: relative;
        /*display: flex;*/
        left: 3.2em;
        top: 25em;
        color: var(--white);
      }

       .site-background h3{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color:#333;
        text-transform: uppercase;
         font-weight: bold;
      }

       .site-background h3 span{
        font-family: 'Poppins', sans-serif;
        color:var(--pink);
        text-transform: uppercase;
      }

       .site-background p{
        font-size: 1rem;
        color:#666;
        padding:1rem 0;
      }
      /*background-image: linear-gradient(310deg,#7928ca,#ff0080);*/





      /* --------x------ Site title --------x------- */

    /* ----------------- Footer --------------------- */
  
    /* ----------------- Footer --------------------- */
    /*bottom section*/
    .main-content{
      position: relative;
      min-height: 600px;
      width: 100%;
      display: flex;

      background: linear-gradient(to right, #b05ff6,#2aa6bd); 
    }
    .main-content svg{
      position: absolute;
      top: 0;
      transform: rotate(180deg);
    }
    .main-content .left,
    .main-content .right,
    .main-content .center {
      margin-top: 19em;
      /*  display: flex;*/
      width: 80%;
      padding: 50px;
      justify-content: space-around;
      z-index: 10;
    }   

    .main-content .box{
      flex-basis: 50%;
      padding: 10px 20px;
    }
    .main-content .box h2{
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
      font-weight: bold;
    }
    .box .content{
      margin: 20px 0 0 0;
      position: relative;
    }
    .box .content:before{
      position: absolute;
      content: '';
      top: -10px;
      height: 2px;
      width: 100%;
      background: #1a1a1a;
    }
    .box .content:after{
      position: absolute;
      content: '';
      height: 2px;
      width: 15%;
      background: #f12020;
      top: -10px;
    }

    .left .content p{
      text-align: justify;
    }


    .center .content .fas{
      font-size: 1.4375rem;
      background: transparent;

      /*  color: var(--white);*/
      height: 45px;
      width: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;
    }

    .center .content .fas:hover{
      background: #4267B2;
    }
    .center .content .text{
      font-size: 1.0625rem;
      font-weight: 500;
      padding-left: 10px;
    }
    .center .content .phone{
      margin: 15px 0;
    }


    .right form .text{
      font-size: 1.0625rem;
      margin-bottom: 2px;
      color: #656565;
    }
    .right form .msg{
      margin-top: 10px;
    }
    .right form input, .right form textarea{
      width: 100%;
      font-size: 1.0625rem;
      background: #ffffff;
      padding-left: 10px;
      border: 1px solid #222222;
    }
    .right form input:focus,
    .right form textarea:focus{
      outline-color: #3498db;
    }
    .right form input{
      height: 35px;
    }

    .right form .logoe{
      width: 250px;
      height: 160px;
    }


    .bottom center{
      padding: 5px;
      font-size: 0.9375rem;
      background: #151515;
    }
    .bottom center span{
      color: #656565;
    }
    .bottom center a{
      color: #f12020;
      text-decoration: none;
    }
    .bottom center a:hover{
      text-decoration: underline;
    }

    @media screen and (max-width: 900px) {
      footer{
        position: relative;
        bottom: 0px;

      }
      .main-content{
        margin-top: 4em;
        flex-wrap: wrap;
        flex-direction: column;

      }
 
      .main-content .box{
        margin: 5px 0;
      }
      .box{
        margin-top: 3em;
      }
    }
/* ---------x------- Footer ----------x---------- */



/************************* Media Queries ***********************/
/**************************************************************/

@media(min-width: 576px){
    /* header section */
    .header-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left-head-container, .right-head-container{
        height: 500px;
        text-align: center;
    }
    .left-head-container{
        justify-content: flex-start;
    }
    
    /* footer section */
    .some-links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
        padding-bottom: 4rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }
    
}

@media(min-width: 678px){
    
    /* archive section */
    .archive-wrapper .card:nth-child(2){
        display: none;
    }
    .archive-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.2rem;
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .archive-wrapper .card{
        margin: 0;
    }
    
    /* category section */
    .category-wrapper{
        padding-right: 6rem;
        padding-left: 6rem;
    }
    
    /* footer section */
    .footer-wrapper{
        padding-right: 6rem;
        padding-left: 6rem;
    }
    .footer-div-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    
}

@media(min-width: 880px){
    /* category section */
    .category-left .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sub-text-box{
        transform: rotate(-90deg);
        left: auto;
        right: -47px;
        bottom: auto;
        top: 50px;
        border-top-right-radius: 0;
    }
    .card-image{
        transform: scaleY(1.1);
    }
    .category-wrapper .card{
        margin: 5rem 0;
        padding-bottom: 0;
    }
}

@media(min-width: 992px){
    /* general styling */
    .title{
        font-size: 1.5rem;
    }
    
    /* navbar section */
    .navbar-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .bars-icon{
        display: none;
    }
    .brand-and-icon{
        flex: 0 0 auto;
    }
    .nav-menu{
        position: relative;
        display: flex!important;
        justify-content: space-between;
        flex: 0 0 450px;
        padding-left: 0;
        top: 0;
    }
    .nav-menu li:hover a{
        padding-left: 0;
    }
    .social-icons{
        flex: 0 0 180px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .social-icons i:hover{
        opacity: 0.9;
    }
    
    /* header section */
    .header-wrapper{
        font-size: 1.6rem;
        grid-template-columns: 2fr 1fr;
        min-height: calc(100vh - 112px);
    }
    .left-head-container, .right-head-container{
        height: 100%;
    }
    
    /** footer section **/
    .footer-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1.5rem;
    }
    
}

@media(min-width: 1200px){
    /* navbar section */
    .navbar-wrapper{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    /* header section */
    .left-head-container{
        justify-content: center;
    }
    .right-head-content{
        width: 80%;
        align-self: flex-end;
    }
    
    /* archive section */
    .archive-wrapper .card:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .archive-wrapper .card:nth-child(2) img{
        order: 3;
    }
    .archive-wrapper .card:nth-child(2) .card-body{
        order: 1;
    }
    .archive-wrapper .card:nth-child(2) .card-footer{
        order: 2;
    }
    .archive-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* category section */
    .category-main{
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-gap: 1.5rem;
    }
    .feed-image{
        height: 200px;
    }
    .category-right .title{
        font-size: 1.1rem;
    }
    .category-right{
        margin-top: 0;
    }
    .category-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .category-wrapper .card{
        margin: 2rem 0;
    }
}


/*sebt*/


  form {
  width: 100%;
      max-width: 400px;
  padding-top: 10vh;
}

  form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

  form .inner-form .input-field {
  height: 48px;
       padding-left: 10px;
}

  form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

  form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

  form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

  form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

  form .inner-form .input-field input:hover,   form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

  form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #4d5fc766;
}

  form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}


  form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

  form .inner-form .input-field.second-wrap {
  min-width: 86px;
}

  form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #4d5fc7;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
}

  form .inner-form .input-field.second-wrap .btn-search:hover {
  background: var(--pink);

  form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

  form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
    form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  
    form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
    form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
    form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}

/*# sourceMappingURL=Searchs_130.css.map */


#Button{

  top: 76%;
  left: 92%;
  position: fixed;
  width: 60px;
  display: none;
}




/*new1-----------------------------------------*/



